.normal {
  height: 50px;
  line-height: 50px;
  background-color: #364860;
  text-align: right;
  font-size: 14px;
  padding: 0 10px 0 0;
}

.pop {
  text-align: right;
}

.pop a {
  display: block;
  line-height: 20px;
}

.breadcrumb {
  float: left;
  margin-left: 10px;
  a {
    color: #fff!important;
  }
  span {
    color: #fff!important;
  }
}
