.normal {
  overflow: hidden;
  background-color: #eef1f8;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px #787878;
}

.searchform {
  padding: 10px 10px 5px 10px;
  border-radius: 6px;
}

.searchform button {
  margin-left: 8px;
}
