:global {
  html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }
  html, body, #root {
    height: 100%;
    width: 100%;
  }
  input[type=hidden] {
    display: none
  }
  .clear {
    clear: both;
    zoom: 1;
  }
  .clear:after {
    content: '';
    display: block;
    clear: both;
  }
  .hidden {
    display: none!important;
  }
  .login {
    max-width: 1200px;
    margin: 10px auto 0 auto;
    height: 600px;
    width: 100%;
    overflow: hidden;
  }
  @media screen and (max-width: 1020px) {
    .login {
      width: 1020px;
    }
  }
  @media screen and (min-width: 1021px) {
    .login {
      width: 100%;
    }
  }
}
